/* @import "reset.css"; */
.header-wrapper {
  /* position: fixed;
  z-index: 2; */
  top: 0px;
  width: 100%;
  padding: 5px 0px;
  background-color: #abc1d1;
}

.header .header-title {
  font-size: 22px;
  font-weight: 600;
}

.chat-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* .chat-tt {
  margin-bottom: 20px;
} */

.chats-body {
  padding: 10px 0px;
  /* padding-top: 100px; */
}

.chats-body .header,
.chats-body .status-bar {
  padding: 0 20px;
  padding-bottom: 20px;
}

.chats-body {
  background-color: #abc1d1;
  min-height: 100vh;
}

.chat__write--container {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.chat__icon-left {
  position: absolute;
  left: 10px;
}

.chat__icon-right {
  position: absolute;
  right: 10px;
}

.chat__write {
  margin: 0 auto;
  bottom: 0px;
  width: 100%;
  border-radius: 0;
  padding: 20px 60px;
  width: 100%;
  border: none;
  font-size: 14px;
}

.chat__write i {
  font-size: 22px;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat-screen .chat__messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  padding-top: 8px;
}

.chat__messages .chat__timestamp {
  font-size: 12px;
  font-weight: 600;
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.incoming-message {
  align-self: flex-start;
}

.sent-message {
  align-self: flex-end;
}

.message .message__timestamp {
  color: rgba(0, 0, 0, 0.5);
  font-size: 10px;
  text-align: center;
}

.incoming-message img {
  width: 40px;
  border-radius: 16px;
}

.message .message__bubble {
  background-color: white;
  display: initial;
  padding: 10px 16px;
  font-size: 14px;
  border-radius: 8px;
  margin-left: 12px;
  align-items: flex-end;
}

.incoming-message .message__author {
  padding: 10px;
  padding-bottom: 15px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}

.incoming-message .message__bubble {
  border-top-left-radius: 0px;
}

.sent-message .message__bubble {
  border-top-right-radius: 0px;
  background-color: gold;
}
