.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header .header__title {
  font-size: 24px;
  font-weight: 600;
}

.header .header__icon {
  font-size: 16px;
  margin-left: 16px;
  cursor: pointer;
}

.header .header__header-column {
  display: flex;
  align-items: center;
}

.chat-header .header__header-column:first-child {
  width: 55%;
  display: flex;
  position: relative;
}

.chat-header .header__header-column:first-child > h1 {
  position: absolute;
  right: 0;
}

.header .header__back-btn {
  font-size: 20px;
  margin-right: 20px;
}
